<section class="hero-wrap js-fullheight">
	<div class="overlay"></div>
	<div class="container-fluid px-0">
		<div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
			<img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="images/undraw_book_lover_mkck.svg" alt="">
			<div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
				<div class="text mt-5">
					<span class="subheading">Best Seller Book Of The Week</span>
					<h1>Clue Of The Wooden Cottage</h1>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<p>
						<a href="#" class="btn btn-primary py-3 px-4">Buy Now For $22.78</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
