{% if livre is defined and (livre ? (livre.chapitres|length > 0) : '') %}

<section class="ftco-section ftco-no-pb ftco-no-pt" id="chapter-section">
    	<div class="container">
    		<div class="row justify-content-center py-5 mt-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Contenue de l'ouvrage </h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-3 mb-4">
				    <nav id="navi">
					    <ul>
						{% for chapitre in livre.chapitres %}
					      <li><a href="#page-{{chapitre.id}}">{{chapitre.titre}}</a></li>
						{% endfor %}
					    </ul>
					  </nav>
					</div>
					<div class="col-md-9">
					{% for chapitre in livre.chapitres %}
					  <div id="page-{{chapitre.id}}" class= "page bg-light one">
					  	{# <h2 class="heading">Title Page</h2> #}
					  	<p>
						{{chapitre.description|raw}}
						</p>
					  </div>
					{% endfor %}
					</div>
			  </div>
    	</div>
    </section>
{% endif %}