<section class="ftco-section ftco-no-pb ftco-no-pt" id="chapter-section">
    	<div class="container">
    		<div class="row justify-content-center py-5 mt-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">What's Inside The Book</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-3 mb-4">
				    <nav id="navi">
					    <ul>
					      <li><a href="#page-1">Title page</a></li>
					      <li><a href="#page-2">Copyright</a></li>
					      <li><a href="#page-3">Table of contents</a></li>
					      <li><a href="#page-4">Dedication</a></li>
					      <li><a href="#page-5">Foreword</a></li>
					      <li><a href="#page-6">Prologue</a></li>
					      <li><a href="#page-7">Epilogue</a></li>
					      <li><a href="#page-8">Epigraph</a></li>
					    </ul>
					  </nav>
					</div>
					<div class="col-md-9">
					  <div id="page-1" class= "page bg-light one">
					  	<h2 class="heading">Title Page</h2>
					  	<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					  </div>
					  <div id="page-2" class= "page bg-light two">
					  	<h2 class="heading">Copyright</h2>
					  	<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					  </div>
					  <div id="page-3" class= "page bg-light three">
					  	<h2 class="heading">Table of Contents</h2>
					  	<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					  </div>
					  <div id="page-4" class= "page bg-light four">
					    <h2 class="heading">Dedication</h2>
					    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					  </div>
					  <div id="page-5" class= "page bg-light five">
					    <h2 class="heading">Foreword</h2>
					    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					  </div>
					  <div id="page-6" class= "page bg-light six">
					    <h2 class="heading">Prologue</h2>
					    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					  </div>
					  <div id="page-7" class= "page bg-light seven">
					    <h2 class="heading">Epilogue</h2>
					    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					  </div>
					  <div id="page-8" class= "page bg-light eight">
					    <h2 class="heading">Epigraph</h2>
					    <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
					  </div>
					</div>
			  </div>
    	</div>
    </section>