<section class="ftco-section ftco-project" id="projects-section">
	<div class="container">
		<div class="row no-gutters justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">{{auteur}}</span>
				<h2 class="mb-4">Mes autres livres
				</h2>
			</div>
		</div>
		<div class="row">
			{% for objet in autreLivres %}
				<div class="col-md-3">
					<div class="project img ftco-animate d-flex justify-content-center align-items-end" style="background-image: url({{asset('uploads/images/'~ objet.image)}});">
						<div class="overlay"></div>
						<div class="text p-4">
							<h3>
								<a href="#">{{objet.titre}}</a>
							</h3>
							<span>
								Ma categorie
								{#{objet.categorie}#}
							</span>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
