{% extends 'base.html.twig' %}

{% block title %}New Achat
{% endblock %}

{% block body %}
	<section class="ftco-section ftco-no-pb ftco-partner">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg ftco-animate">

					<h1>Merci de remplir les information pour confirmation</h1>

					{{ include('achat/_form.html.twig') }}

					<a href="{{ path('app_achat_index') }}">retour à la liste </a>

				</div>
			</div>
		</div>
	</section>
{% endblock %}
